/* SETTINGS PAGE */
.settings-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #2b6cb0; /* blue theme */
    margin-bottom: 10px;
}

.settings-section {
    background: #fff;
    border-radius: 12px;
    padding: 5px 0;
}

.settings-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 12px;
    border-bottom: 1px solid #eee;
}

.settings-item:last-child {
    border-bottom: none;
}

.settings-arrow {
    color: #2b6cb0;
    font-size: 18px;
}
